<?xml version='1.0' encoding='utf-8'?>
<widget id="dz.smartfarm.valve" version="2.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Valve</name>
    <description>
        Contrôler les vannes d'irrigation
    </description>
    <author email="dzsmartfarm@gmail.com" href="http://wwwdiriot.com">
        Lakhdar Meftah
    </author>
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="false" />
    <preference name="KeyboardShrinksView" value="true" />
    <preference name="DisallowOverscroll" value="true" />
    <access origin="*" />
    <platform name="android">
        <icon density="hdpi" src="www/logo.png" />
    </platform>
    <engine name="android" spec="~5.1.1" />
</widget>
