<!DOCTYPE html>
<html >
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1,  target-densitydpi=device-dpi" />

        <script src="./bower_components/angular/angular.js"></script>
        <script src="./bower_components/angular-touch/angular-touch.min.js"></script>
        <script src="./bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="./bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

        <script type="text/javascript" src="js/index.js"></script>
        <script type="text/javascript" src="js/BlController.js"></script>
        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="css/index.css" />

        <title>Bluetooth Serial Chat</title>
</head>
<body ng-app="ui.bootstrap.demo">
  <div class="container-fluid" ng-controller="AccordionDemoCtrl">
   <h1 class="alert alert-success text-center">المزرعة الذكية</h1>
   <uib-progressbar class="progress-striped active" value="dynamic" type="info" ng-show="fact.showBar"></uib-progressbar>
   <uib-tabset active="fact.active" >
    <uib-tab index="0" heading="الفانات">
      <uib-tab-heading>
        <i class="glyphicon glyphicon-list"></i> الفانات
      </uib-tab-heading>

      <form class="form-inline">
        <button type="button" class="btn" ng-class="{'btn-warning':!pause,'btn-danger':pause}" aria-label="Left Align" ng-click="sendPause()">
          <span class="glyphicon glyphicon-pause" aria-hidden="true"></span> توقيف مؤقت
        </button>
        <button type="button" class="btn btn-info" aria-label="Left Align" ng-click="refresh()">
          <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> تحديث
        </button>
        <button type="button" class="btn" ng-class="{'btn-success':!test,'btn-danger':test}" aria-label="Left Align" ng-click="sendTest()">
          <span class="glyphicon glyphicon-sunglasses" aria-hidden="true"></span> تجريب
        </button>
      </form>
      <table class="table table-hover table-condensed text-center table-striped" >
        <thead>
         <tr >
           <th class="text-center">ﻋﻤﻠﻴﺎﺕ</th>
           <th class="text-center">اﻟﻮﻗﺖ</th> 
           <th class="text-center">ﺗﻔﻌﻴﻞ</th>
           <th class="text-center">ﺭﻗﻢ</th>
         </tr>
        </thead>
        <tbody>
         <tr ng-repeat="item in items| limitTo:valveNum.index" ng-class="{'info':items[$index].state}">
          <td> 
            <div class="btn-group">
            <button type="button" class="btn btn-info btn-sm" aria-label="Left Align" ng-click="isCollapsed = !isCollapsed">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> تعديل
            </button>
            </div>
            <div uib-collapse="isCollapsed">
              <form class="form-horizontal" >
                <div class="form-group">
                  <label class="col-xs-2 control-label">يدوي</label>
                  <div class="col-xs-9">
                    <select class="form-control" ng-model="items[$index].manual" ng-change="sendManual($index,items[$index].manual)" ng-options = "opt.name for opt in options" >
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-2 control-label">الدواء</label>
                  <div class="col-xs-9">
                    <select class="form-control" ng-model="items[$index].engrais" ng-change="sendEngrais($index,items[$index].engrais)" ng-options = "opt.name for opt in engrais" >
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-2 control-label">بيفو</label>
                  <div class="col-xs-9">
                    <select class="form-control" ng-model="items[$index].pivot" ng-change="sendPivot($index,items[$index].pivot)" ng-options = "opt.name for opt in pivots">
                    </select>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-xs-2 control-label">فانة</label>
                  <div class="col-xs-9">
                    <select class="form-control" ng-model="items[$index].valve" ng-change="sendValveTurn($index,items[$index].valve)" ng-options = "opt.name for opt in valveTurns">
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </td>
          <td >
            <select class="form-control" ng-model="items[$index].time" ng-change="sendValveTime($index,items[$index].time)" ng-options = "opt.name for opt in options">
            </select>
           </td>
           <td>
                <input type="checkbox" id="blankCheckbox" value="option1" ng-model="items[$index].activated" ng-change="sendValveActive($index,items[$index].activated)" ng-true-value="1" ng-false-value="0">
          </td> 
           <td>
              {{$index + 1}}
           </td>
         </tr>
        </tbody>
      </table>
      <div class="input-group">
          <select class="form-control" ng-model="valveNum" ng-options = "opt as opt.name for opt in valves" ng-change="sendValveNum(valveNum)">
          </select>
        <div class="input-group-addon">عدد الفانات</div>
      </div>
    </uib-tab>
    <uib-tab index="1" heading="الشاشة">
      <uib-tab-heading>
          <i class="glyphicon glyphicon-chevron-right"></i> الشاشة
      </uib-tab-heading>
      <div class="alert alert-success">
        <pre class="lead" id="preScroll" style="min-height: 300px; max-height: 300px;height:300px;" >{{fact.Field}}</pre>
          <div class="row">
            <div class="col-xs-10 col-sm-11 ">
              <input type="text" class="form-control" ng-model="fact.data" placeholder="Serial Console" ng-keyup="$event.keyCode == 13 && send()"/>
            </div>
            <button type="button" class="btn btn-danger" ng-click="send()">
              <span class="glyphicon glyphicon-send " aria-hidden="true"></span>
            </button>
          </div>
      </div>
    </uib-tab> 
    <uib-tab index="2" heading="بلوتوث" >
      <uib-tab-heading>
        <i class="glyphicon glyphicon-link"></i> بلوتوث
      </uib-tab-heading>
      <div ng-controller="BlController">
        <div class="text-center">
        <table class="table table-hover table-condensed text-center table-striped" >
          <thead>
           <tr >
             <th class="text-center">بلوتوث</th>
             <th class="text-center">العنوان</th> 
           </tr>
          </thead>
          <tbody>
           <tr ng-repeat="device in devices" ng-click="connect(device)" ng-class="{'success':devices[$index].id == fact.device.id}">
            <td>
              <h3>{{device.name}} </h3>
            </td>
            <td>
              <h3>{{device.id}}</h3>
            </td>
            </tr>
          </tbody>
        </table>
            <button type="button" class="btn btn-warning" aria-label="Left Align" ng-show="!connected" ng-click="fact.openSettings()">
              <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> فتح الإعدادات
            </button>
            <button class="btn btn-success" ng-show="!connected" ng-click="refresh()">تحديث</button>
            <button class="btn btn-danger" ng-show="connected" ng-click="disconnect()">قطع الإتصال</button>
            <h3 class="alert alert-info text-center">{{status}}</h3>
        </div>
      </div>
    </uib-tab>
  </uib-tabset>
  </div>
</body>   
        <script type="text/javascript" src="cordova.js"></script>
</html>